body {
    font-family: sans-serif;
    margin: 0;
    background-color: #121214;
}

.container {
    margin-bottom: 5%;
}

#form-header {
    margin-top: 5%;
    text-align: center;
}

#form-tagline {
    background: #ff6d00;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #ffffff;
    margin-top: 5%;
    padding: 4%;
    text-align: left;
}

#form-tagline .fa {
    margin-bottom: 15%;
}

#form-tagline h2 {
    margin-bottom: 15%;
}

#form-content {
    background: #f4f4f4;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-top: 5%;
    padding: 3%;
}

.form-group {
    margin-top: 5%;
}

.contact {
    padding: 4%;
    height: 400px;
}

.control-label {
    font-size: 16px;
    font-weight: 600;
}

div .submit-button {
    margin-top: 3%;
    text-align: right;
}

button#submit {
    white-space: normal;
    width: auto;
    background: #ff6d00;
    color: #ffffff;
    font-weight: 600;
    width: 25%;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;


}

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);


}

.avatar-preview div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-edit input {
    display: none;
}

.avatar-edit label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;




}

.avatar-edit label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-edit label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}